body
{
	margin: 0;
	padding: 100;
	min-height: 100vh;
	position: fixed;
    	overflow-y: scroll;	/* Prevents scrolling as particles.js is bound to body. */
	overflow: hidden;
    	width: 100%;
}

footer
{
	background: #393939
}

#particles-js
{
	height: 100vh;
	background: #393939
}
#logo{
	
	margin-top: 200px;	/* Centers all elements for all desktop browsers. */
        position: absolute;
        top: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
		z-index: 2;
}

#mail{
	
	margin-top: 1250px; 	/* Centers all elements for all desktop browsers. */
	margin-left: -150px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
		z-index: 2;
}
#reddit{
	
	margin-top: 1250px;		/* Centers all elements for all desktop browsers. */
	margin-left: 150px;
        position: absolute;
        top: 0;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform: translate(-50%, 0%);
        -o-transform: translate(-50%, 0%);
		z-index: 2;
}

* {
	
    -webkit-user-select: none;		/* Prevents selection of images - interacting with the particles could select elements if fast enough. */
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
	
}

p {
	
    -webkit-user-select: text;		/* Permits text selection, though there isn't any present in the current iteration. */
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
	
}
